*.pt
*.pyc
*.swp

data/rgd1/RGD1_CHNO.h5

wandb/
events.out.tfevents.*
runs/

slatm_baseline/slatm_cyclo.npy
slatm_baseline/slatm_cyclo_sub.npy
slatm_baseline/slatm_cyclo_xtb.npy
slatm_baseline/slatm_gdb.npy
slatm_baseline/slatm_gdb_sub.npy
slatm_baseline/slatm_gdb_xtb.npy
slatm_baseline/slatm_proparg.npy
slatm_baseline/slatm_proparg_xtb.npy
