*.pt
*.pyc
*.swp
*.so

wandb/*
events.out.tfevents.*
runs/
*__pycache__*

baseline_slatm/slatm_cyclo.npy
baseline_slatm/slatm_cyclo_sub.npy
baseline_slatm/slatm_cyclo_xtb.npy
baseline_slatm/slatm_gdb.npy
baseline_slatm/slatm_gdb_sub.npy
baseline_slatm/slatm_gdb_xtb.npy
baseline_slatm/slatm_proparg.npy
baseline_slatm/slatm_proparg_xtb.npy

baseline_chemprop/results/*/*.csv
