# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
alabaster=0.7.13=pypi_0
anyio=4.0.0=pyhd8ed1ab_0
appnope=0.1.3=pyhd8ed1ab_0
argon2-cffi=23.1.0=pyhd8ed1ab_0
argon2-cffi-bindings=21.2.0=py39h1a28f6b_0
arrow=1.3.0=pyhd8ed1ab_0
asttokens=2.4.0=pyhd8ed1ab_0
async-lru=2.0.4=pyhd8ed1ab_0
attrs=23.1.0=pyh71513ae_1
babel=2.13.0=pyhd8ed1ab_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
beautifulsoup4=4.12.2=pyha770c72_0
bleach=6.1.0=pyhd8ed1ab_0
blinker=1.6.3=pypi_0
brotli-python=1.0.9=py39hc377ac9_7
bzip2=1.0.8=h3422bc3_4
ca-certificates=2023.08.22=hca03da5_0
cached-property=1.5.2=hd8ed1ab_1
cached_property=1.5.2=pyha770c72_1
certifi=2023.7.22=py39hca03da5_0
cffi=1.15.1=py39h80987f9_3
charset-normalizer=3.3.0=pyhd8ed1ab_0
chemprop=1.6.1=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
comm=0.1.4=pyhd8ed1ab_0
contourpy=1.1.1=pypi_0
cycler=0.12.1=pypi_0
debugpy=1.6.7=py39h313beb8_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pyhd8ed1ab_0
docstring-parser=0.15=pypi_0
docutils=0.20.1=pypi_0
drfp=0.3.6=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
exceptiongroup=1.1.3=pyhd8ed1ab_0
executing=1.2.0=pyhd8ed1ab_0
filelock=3.12.4=pypi_0
flask=3.0.0=pypi_0
fonttools=4.43.1=pypi_0
fqdn=1.5.1=pyhd8ed1ab_0
fsspec=2023.9.2=pypi_0
future=0.18.3=pypi_0
hyperopt=0.2.7=pypi_0
idna=3.4=pyhd8ed1ab_0
imagesize=1.4.1=pypi_0
importlib-metadata=6.8.0=pyha770c72_0
importlib_metadata=6.8.0=hd8ed1ab_0
importlib_resources=6.1.0=pyhd8ed1ab_0
ipykernel=6.25.2=pyh1050b4e_0
ipython=8.16.1=pyh31c8845_0
ipython_genutils=0.2.0=py_1
ipywidgets=8.1.1=pyhd8ed1ab_0
isoduration=20.11.0=pyhd8ed1ab_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.2=pyhd8ed1ab_1
joblib=1.3.2=pypi_0
json5=0.9.14=pyhd8ed1ab_0
jsonpointer=2.1=pyhd3eb1b0_0
jsonschema=4.19.1=pyhd8ed1ab_0
jsonschema-specifications=2023.7.1=pyhd8ed1ab_0
jsonschema-with-format-nongpl=4.19.1=pyhd8ed1ab_0
jupyter=1.0.0=pyhd8ed1ab_10
jupyter-lsp=2.2.0=pyhd8ed1ab_0
jupyter_client=8.4.0=pyhd8ed1ab_0
jupyter_console=6.6.3=pyhd8ed1ab_0
jupyter_core=5.3.0=py39hca03da5_0
jupyter_events=0.7.0=pyhd8ed1ab_2
jupyter_server=2.7.3=pyhd8ed1ab_1
jupyter_server_terminals=0.4.4=pyhd8ed1ab_1
jupyterlab=4.0.7=pyhd8ed1ab_0
jupyterlab_pygments=0.2.2=pyhd8ed1ab_0
jupyterlab_server=2.25.0=pyhd8ed1ab_0
jupyterlab_widgets=3.0.9=pyhd8ed1ab_0
kiwisolver=1.4.5=pypi_0
libcxx=16.0.6=h4653b0c_0
libexpat=2.5.0=hb7217d7_1
libffi=3.4.2=h3422bc3_5
libsodium=1.0.18=h27ca646_1
libsqlite=3.43.2=h091b4b1_0
libzlib=1.2.13=h53f4e23_5
markupsafe=2.1.1=py39h1a28f6b_0
matplotlib=3.8.0=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mistune=3.0.1=pyhd8ed1ab_0
mpmath=1.3.0=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.8.0=pyhd8ed1ab_0
nbconvert=7.9.2=pyhd8ed1ab_0
nbconvert-core=7.9.2=pyhd8ed1ab_0
nbconvert-pandoc=7.9.2=pyhd8ed1ab_0
nbformat=5.9.2=pyhd8ed1ab_0
ncurses=6.4=h7ea286d_0
nest-asyncio=1.5.8=pyhd8ed1ab_0
networkx=3.2=pypi_0
notebook=7.0.5=pyhd8ed1ab_0
notebook-shim=0.2.3=pyhd8ed1ab_0
numpy=1.26.1=pypi_0
openssl=3.1.3=h53f4e23_0
overrides=7.4.0=pyhd8ed1ab_0
packaging=23.2=pyhd8ed1ab_0
pandas=2.1.1=pypi_0
pandas-flavor=0.6.0=pypi_0
pandoc=3.1.3=hce30654_0
pandocfilters=1.5.0=pyhd8ed1ab_0
parso=0.8.3=pyhd8ed1ab_0
periodictable=1.6.1=pypi_0
pexpect=4.8.0=pyh1a96a4e_2
pickleshare=0.7.5=py_1003
pillow=10.1.0=pypi_0
pip=23.2.1=pyhd8ed1ab_0
pkgutil-resolve-name=1.3.10=pyhd8ed1ab_1
platformdirs=3.11.0=pyhd8ed1ab_0
prometheus_client=0.17.1=pyhd8ed1ab_0
prompt-toolkit=3.0.39=pyha770c72_0
prompt_toolkit=3.0.39=hd8ed1ab_0
protobuf=4.24.4=pypi_0
psutil=5.9.0=py39h1a28f6b_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
py4j=0.10.9.7=pypi_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.16.1=pyhd8ed1ab_0
pyobjc-core=9.0=py39h3eb5a62_1
pyobjc-framework-cocoa=9.0=py39hb094c41_0
pyparsing=3.1.1=pypi_0
pysocks=1.7.1=pyha2e5f31_6
python=3.9.18=hfa1ae8a_0_cpython
python-dateutil=2.8.2=pyhd8ed1ab_0
python-fastjsonschema=2.18.1=pyhd8ed1ab_0
python-json-logger=2.0.7=pyhd8ed1ab_0
python_abi=3.9=4_cp39
pytz=2023.3.post1=pyhd8ed1ab_0
pyyaml=6.0=py39h80987f9_1
pyzmq=25.1.0=py39h313beb8_0
qml=0.4.0.27=pypi_0
qtconsole-base=5.4.4=pyha770c72_0
qtpy=2.4.0=pyhd8ed1ab_0
rdkit=2023.3.3=pypi_0
rdkit-pypi=2022.9.5=pypi_0
readline=8.2=h92ec313_1
referencing=0.30.2=pyhd8ed1ab_0
requests=2.31.0=pyhd8ed1ab_0
rfc3339-validator=0.1.4=pyhd8ed1ab_0
rfc3986-validator=0.1.1=pyh9f0ad1d_0
rpds-py=0.10.6=py39h8fec3ad_0
scikit-learn=1.3.1=pypi_0
scipy=1.11.3=pypi_0
send2trash=1.8.2=pyhd1c38e8_0
setuptools=68.0.0=pyhd8ed1ab_0
six=1.16.0=pyh6c4a22f_0
sniffio=1.3.0=pyhd8ed1ab_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.5=pyhd8ed1ab_1
sphinx=7.2.6=pypi_0
sphinxcontrib-applehelp=1.0.7=pypi_0
sphinxcontrib-devhelp=1.0.5=pypi_0
sphinxcontrib-htmlhelp=2.0.4=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.6=pypi_0
sphinxcontrib-serializinghtml=1.1.9=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
sympy=1.12=pypi_0
tensorboardx=2.6.2.2=pypi_0
terminado=0.17.1=pyhd1c38e8_0
threadpoolctl=3.2.0=pypi_0
tinycss2=1.2.1=pyhd8ed1ab_0
tk=8.6.12=he1e0b03_0
tomli=2.0.1=pyhd8ed1ab_0
torch=2.1.0=pypi_0
tornado=6.3.3=py39h80987f9_0
tqdm=4.66.1=pypi_0
traitlets=5.11.2=pyhd8ed1ab_0
typed-argument-parser=1.8.1=pypi_0
types-python-dateutil=2.8.19.14=pyhd8ed1ab_0
typing-extensions=4.8.0=hd8ed1ab_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.8.0=pyha770c72_0
typing_utils=0.1.0=pyhd8ed1ab_0
tzdata=2023.3=pypi_0
uri-template=1.3.0=pyhd8ed1ab_0
urllib3=2.0.6=pyhd8ed1ab_0
wcwidth=0.2.8=pyhd8ed1ab_0
webcolors=1.13=pyhd8ed1ab_0
webencodings=0.5.1=pyhd8ed1ab_2
websocket-client=1.6.4=pyhd8ed1ab_0
werkzeug=3.0.0=pypi_0
wheel=0.41.0=pyhd8ed1ab_0
widgetsnbextension=4.0.9=pyhd8ed1ab_0
xarray=2023.10.1=pypi_0
xgboost=2.0.1=pypi_0
xz=5.2.6=h57fd34a_0
yaml=0.2.5=h3422bc3_2
zeromq=4.3.5=h965bd2d_0
zipp=3.17.0=pyhd8ed1ab_0
